
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #170F11;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav h1{
  margin: 0;
}

nav input {
  background-color: transparent;
  border: 1px solid #9B287B;
  border-radius: 8px;
  padding: 0.25rem;

}
nav input:focus {
  color: white;
  font-family: 700;
  outline: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie{
  width: 200px;
  height: 350px;
  background-color: #402039;
  border-radius: 4px;
  box-shadow: 0 2px 2px #402039;
  margin: 1rem ;

}

.movie-img {
  position: relative;
  justify-content: center;
  align-items: center;
}
.movie-img img{
  max-width: 100%;
  border-radius: 4px 4px 0 0;
}

.movie-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  font-size: 0.7rem;

}

.movie-desc h3 {
  margin: 0;
}

.movie-desc span {
  background-color: #9B287B;
  padding: 0.25rem;
  border-radius: 4px;
  font-weight: 700;
}

.movie-desc span.green{
  color: rgb(24, 214, 24);
}

.movie-desc span.orange{
  color: rgb(255, 255, 0);
}

.movie-desc span.red{
  color: rgb(221, 9, 9);
}

/* Media queries */

@media(max-width: 992px) {

}

@media(max-width: 768px) {

}

@media(max-width: 480px) {
  .movie {
    margin: 0.5rem auto;
  }
}
